.basicBackgroundColor {
    background-color: #cce6ff;
}

.contentPageHeaderFooter {
    margin: 8 0;
    color: #000000;
    font-size: large;
    label-height: 200;
}

.contentBody {
    color: #000000;
    background-color: #ffffff;
}


.identiferContainer {
    width: 75;
    height: 75;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    margin: 4;
}



.identifierButton {
    width: 75;
    height: 75;
    background-color: #e6f2ff;
    button-fontsize: large;
}
